.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

input, select, button {
  margin: 10px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}
